@import "../sass/utils/variables";
@import "../sass/Base/fondations";
@import "../sass/Composants/buttons";
@import "../sass/Layout/footer";
@import "../sass/Pages/mainpage";

.headermenu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 30px 0 8px 0;
        gap: 30%;
        margin-inline: 6%;
        margin-bottom: 5px;
        position: relative;
        &__return{
            position: absolute;
            left: 2px;
            top: 46%;
            width: 20px;
            height: 25px;
            font-weight: 900;
            &__arrow{
                color: black;
                font-size: x-large;
            }
        }
}
.menu{
    background-color: #F6F6F6;
    
    &__img{
        width: 100%;
        max-height: 250px;
    }
    &__bloc{
        position: relative;
        display: flex;
        flex-direction: column;
        &__title{
            width: 100%;
            height: 68px;
            position: absolute;
            top: -69px;
            background-color: #F6F6F6;
            border-radius: 30px 30px 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 32px;
            padding-left: 16px;
            padding-right: 45px;
            &__heartmenu{
                position: relative;
                cursor: pointer;
                input[type=checkbox] {
                    visibility: hidden;
                }
                input:checked ~ .emptymenu {
                    opacity: 0;
                }
                input:checked ~ .fullmenu {
                    opacity: 1;
                }
            }
        }
    }
}
.emptymenu {
    font-size: x-large;
    opacity: 1;
    transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
  }
.fullmenu {
    position: absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    background: linear-gradient(10deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: x-large;
    transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
  }
.h1menu{
    font-size: 20px;
    font-family: shrikhand, sans-serif;
}
.h2menu{
    font-size: 16px;
    font-weight: 300;
    border-bottom: 4px solid $color-tertiary;
    width: 40px;
    margin-left: 14px;
}

.selection{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &__entries{
        display: flex;
        flex-direction: column;
        &__container{
            width: 95%;
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            &__card{
                width: 100%;
                height: 60px;
                padding-left: 2px;
                margin-bottom: 15px;
                display: flex;
                justify-content: space-between;
                background-color:#fff;
                border-radius: 14px;
                box-shadow: 5px 5px 10px #cccccc;
                &__group{
                    cursor: pointer;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    
                    flex-wrap: nowrap;
                    flex-direction: row;
                    
                    input[type=checkbox] {
                        visibility: hidden;
                        position: absolute;
                    }
                    input:checked ~ &__end {
                        transform: translateX(0px);
                        opacity: 1;
                    }  
                    input:checked ~ &__icone1{
                        animation: translate-check 400ms;
                        z-index: 0;                             
                    }
                    input:checked ~ &__icone2{
                        animation: translate-check 400ms;
                        z-index: 0;                             
                    }
                    input:checked ~ &__icone3{
                        animation: translate-check 400ms;
                        z-index: 0;                             
                    }
                    input:checked ~ &__plat{
                        text-overflow: ellipsis
                    }
                    &__plat{
                        width: 70%;
                        height: 100%;
                        display: block;
                        padding-left: 5px 15px;
                        overflow: hidden;
                        text-overflow: inherit;
                        white-space: nowrap;
                        &__h3menu{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 0;
                            padding-bottom: 5px;
                        }
                        &__pmenu{
                            margin: 0;
                            padding-right: 2px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    &__end{
                        width: 41%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        transform-origin: 30% 50%;
                        transform: translateX(55px);
                        opacity: 0;
                        transition: all 400ms;
                        &__pricemenu{
                            margin: 0;
                            padding-bottom: 2px;
                            display: flex;
                            align-items: flex-end;
                            padding-left: 2px;
                            width: 100px;
                        }
                        &__check{
                            width: 100%;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $color-tertiary;
                            border-radius: 0 14px 14px 0; 
                        }
                    }
                    &__icone1{
                        position: absolute;
                        z-index: -1;
                        right: 6%;
                        top: 14%;
                        font-size: 27px;
                        color: $color-tertiary;
                        background-color: #fff;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        @keyframes translate-check{
                            0%{
                                transform: translateX(25px) rotateZ(0deg)
                            }
                            1%,100%{
                                opacity: 1;
                            }
                            25%{
                                transform: translateX(20px) rotateZ(90deg)
                            }
                            50%{
                                transform: translateX(15px) rotateZ(180deg)
                            }
                            75%{
                                transform: translateX(5px) rotateZ(225deg)
                            }
                            100%{
                                transform: translateX(0px) rotateZ(270deg)
                            }
                        }
                    }
                    &__icone2{
                        position: absolute;
                        z-index: -1;
                        right: 25px;
                        top: 153px;
                        font-size: 27px;
                        color: $color-tertiary;
                        background-color: #fff;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        @keyframes translate-check{
                            0%{
                                transform: translateX(25px) rotateZ(0deg)
                            }
                            1%,100%{
                                opacity: 1;
                            }
                            25%{
                                transform: translateX(20px) rotateZ(90deg)
                            }
                            50%{
                                transform: translateX(15px) rotateZ(180deg)
                            }
                            75%{
                                transform: translateX(5px) rotateZ(225deg)
                            }
                            100%{
                                transform: translateX(0px) rotateZ(270deg)
                            }
                        }
                    }
                    &__icone3{
                        position: absolute;
                        z-index: -1;
                        right: 25px;
                        top: 230px;
                        font-size: 27px;
                        color: $color-tertiary;
                        background-color: #fff;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        @keyframes translate-check{
                            0%{
                                transform: translateX(25px) rotateZ(0deg)
                            }
                            1%,100%{
                                opacity: 1;
                            }
                            25%{
                                transform: translateX(20px) rotateZ(90deg)
                            }
                            50%{
                                transform: translateX(15px) rotateZ(180deg)
                            }
                            75%{
                                transform: translateX(5px) rotateZ(225deg)
                            }
                            100%{
                                transform: translateX(0px) rotateZ(270deg)
                            }
                        }
                    }
                }
                
            }
        }
    }
}
