* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 1400px;
  margin-inline: auto;
}

.button {
  cursor: pointer;
  padding: 17px 29px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: #FFFFFF;
  border-radius: 50px;
  border: transparent;
  box-shadow: 5px 5px 10px #cccccc;
  transition: transform 400ms;
}
.button:hover {
  transform: scale(1.15);
  box-shadow: 6px 6px 10px #8c8c8c;
}

h5 {
  font-family: shrikhand, sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  h5 {
    text-align: center;
  }
}

.foot {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  width: 100%;
  height: 220px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .foot {
    padding-left: 0;
  }
}
.foot__bloc {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 8%;
  height: 65%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .foot__bloc {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2%;
  }
}
.foot__bloc p {
  margin: 0;
  width: 172px;
}
.foot__bloc__lien {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3%;
}
.foot__bloc__lien i {
  width: 17px;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 30px 0px 8px 0;
  box-shadow: 5px 5px 10px #cccccc;
  margin-bottom: 5px;
}
.header__logo__img {
  margin: auto;
  height: 30px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 10px 1% 10px 14%;
  gap: 10px;
}
.header__nav .ville {
  border: none;
  background-color: #EAEAEA;
}
.header__title {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F6F6F6;
  padding-bottom: 40px;
  text-align: center;
  padding-inline: 30px;
}
.header__title h1 {
  font-size: 22px;
}
.header__title p {
  font-size: 13px;
  padding-bottom: 20px;
}

.rule {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-bottom: 30px;
}
.rule__list {
  width: 100%;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .rule__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.rule__list__bulle {
  width: 100%;
  max-width: 333px;
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2%;
  align-items: center;
  border-radius: 20px;
  background-color: #F6F6F6;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px #cccccc;
  cursor: pointer;
  transition: transform 400ms;
}
.rule__list__bulle:hover {
  box-shadow: 6px 6px 10px #8c8c8c;
  background-color: #e6e3e3;
  transform: scale(1.1);
}
.rule__list__bulle:hover .fa-list, .rule__list__bulle:hover .fa-mobile-screen-button, .rule__list__bulle:hover .fa-store {
  color: #9356DC;
}
@media screen and (min-width: 900px) {
  .rule__list__bulle {
    width: 30%;
  }
}
.rule__list__bulle__number {
  position: relative;
  left: -5%;
  background-color: #9356DC;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  color: white;
  padding-left: 10px;
  padding-top: 6px;
}

h2 {
  margin-top: 30px;
  width: 100%;
}

.fa-list, .fa-mobile-screen-button, .fa-store {
  color: grey;
}

.restaurant {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-bottom: 40px;
  width: auto;
}
.restaurant__bloc {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .restaurant__bloc {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  }
}
.restaurant__bloc__restocard {
  width: 96%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #cccccc;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .restaurant__bloc__restocard {
    width: 48%;
  }
}
.restaurant__bloc__restocard__liencard {
  width: auto;
  margin-bottom: 30px;
}
.restaurant__bloc__restocard__imgcontainer {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.restaurant__bloc__restocard__imgcontainer__img { /* photo*/
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__bloc__restocard__imgcontainer__new {
  position: absolute;
  background-color: #99E2D0;
  border-radius: 4%;
  color: #046b51;
  font-weight: bold;
  right: 6%;
  top: 13%;
  width: 25%;
  height: 34px;
  padding-top: 8px;
  text-align: center;
}
.restaurant__bloc__restocard__infocard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.restaurant__bloc__restocard__infocard__heart {
  width: 32px;
  margin-right: 22px;
  cursor: pointer;
}
.restaurant__bloc__restocard__infocard__heart:hover .empty {
  opacity: 0;
}
.restaurant__bloc__restocard__infocard__heart:hover .full {
  opacity: 1;
}
.restaurant__bloc__restocard__infocard__nameandcity {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px 9px;
}

.empty {
  position: absolute;
  font-size: xx-large;
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
}

.full {
  opacity: 0;
  background: linear-gradient(10deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
}

h3, p {
  margin: 0;
}

.headermenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 30px 0 8px 0;
  gap: 30%;
  margin-inline: 6%;
  margin-bottom: 5px;
  position: relative;
}
.headermenu__return {
  position: absolute;
  left: 2px;
  top: 46%;
  width: 20px;
  height: 25px;
  font-weight: 900;
}
.headermenu__return__arrow {
  color: black;
  font-size: x-large;
}

.menu {
  background-color: #F6F6F6;
}
.menu__img {
  width: 100%;
  max-height: 250px;
}
.menu__bloc {
  position: relative;
  display: flex;
  flex-direction: column;
}
.menu__bloc__title {
  width: 100%;
  height: 68px;
  position: absolute;
  top: -69px;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 45px;
}
.menu__bloc__title__heartmenu {
  position: relative;
  cursor: pointer;
}
.menu__bloc__title__heartmenu:hover .empty {
  opacity: 0;
}
.menu__bloc__title__heartmenu:hover .full {
  opacity: 1;
}
.menu__order {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.empty {
  position: absolute;
  font-size: xx-large;
  opacity: 1;
  transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
}

.full {
  opacity: 0;
  background: linear-gradient(10deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: xx-large;
  transition: opacity 600ms cubic-bezier(0.5, 0.5, 0.5, 0.5) 0ms;
}

.h1menu {
  font-size: 20px;
  font-family: shrikhand, sans-serif;
}

.h2menu {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 4px solid #99E2D0;
  width: 40px;
  margin-left: 23px;
  padding-bottom: 6px;
}

.selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.selection__entries {
  display: flex;
  flex-direction: column;
}
.selection__entries__container {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
@media screen and (min-width: 900px) {
  .selection__entries__container {
    flex-direction: row;
    justify-content: space-around;
    gap: 12px;
  }
}
.selection__entries__container__card {
  cursor: pointer;
  max-width: 100%;
  height: 60px;
  overflow: hidden;
  padding-left: 10px;
  margin-bottom: 15px;
  display: flex;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 5px 5px 10px #cccccc;
}
.selection__entries__container__card:hover .selection__entries__container__card__check {
  transform: translateX(0px);
  margin-right: 0;
}
.selection__entries__container__card:hover .selection__entries__container__card__check__icone1 {
  -webkit-animation: rotate-icone 300ms 0.2s;
          animation: rotate-icone 300ms 0.2s;
  z-index: 0;
}
.selection__entries__container__card__plat {
  max-width: 100%;
  height: 60px;
  padding-top: 6px;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}
.selection__entries__container__card__plat__h3menu {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  padding-bottom: 5px;
}
.selection__entries__container__card__plat__pmenu {
  margin: 0;
  padding-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selection__entries__container__card__price {
  min-width: 40px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  cursor: pointer;
}
.selection__entries__container__card__check {
  min-width: 60px;
  height: 60px;
  margin-right: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0 14px 14px 0;
  transform: translateX(0px);
  transition: all cubic-bezier(0.4, 0, 1, 1) 500ms;
}
.selection__entries__container__card__check__icone1 {
  z-index: -1;
  font-size: 27px;
  color: #99E2D0;
  background-color: #fff;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes rotate-icone {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(225deg);
  }
  100% {
    transform: rotateZ(270deg);
  }
}
@keyframes rotate-icone {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(225deg);
  }
  100% {
    transform: rotateZ(270deg);
  }
}/*# sourceMappingURL=styles.css.map */