$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header{
    &__logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: 30px 0 8px 0;
        box-shadow: 5px 5px 10px #cccccc;
        margin-bottom: 5px;
        &__img{
            margin: auto;
            height: 30px;
        }
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        background-color: #EAEAEA;
        padding: 10px 0 10px 0;
        gap: 5%;
        .ville{
            border: none;
            background-color: #EAEAEA;
        }
    }
    &__title{
        margin: auto;
        display:flex ;
        align-items: center;
        flex-direction: column;
        background-color: #F6F6F6;
        padding-bottom: 40px;
        text-align: center;
        padding-inline: 30px;
    }
}
.button{
    cursor: pointer;
    padding: 20px 30px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    color: #FFFFFF;
    border-radius: 50px;
    border: transparent;
    box-shadow: 5px 5px 10px #cccccc;
}
.rule{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 30px;
    &__list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        &__bulle{
            width: 80%;
            max-width: 333px;
            height: 80px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 5%;
            align-items: center;
            border-radius: 20px;
            background-color: #F6F6F6;
            margin-bottom: 20px;
            box-shadow: 5px 5px 10px #cccccc;
            &__number{
                position: relative;
                left: -5%;
                background-color: $color-primary;
                border-radius: 50px;
                width: 30px;
                height: 30px;
                color: white;
                padding-left: 10px;
                padding-top: 6px;
            }
        }
    }
}
@media screen and (min-width: 900px) {
    .rule__list{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__bulle{
            width: 30%;
        }
    }
}
h2{
    margin-top: 30px;
    width: auto;
}
.fa-store{
    color: $color-primary;
}
.fa-list, .fa-mobile-screen-button{
    color: grey;
}
.restaurant{
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    width: auto;
    &__restocard{
        width: 96%;
        border-radius: 20px;
        box-shadow: 5px 5px 10px #cccccc;
        &__liencard{
            width: auto;
            margin-bottom: 30px;
        }
        &__imgcontainer{
            width: 100%;
            height: 200px;
            border-radius: 20px 20px 0 0;
            &__img{ /* photo*/
                border-radius: 20px 20px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__infocard{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            position: relative;
            gap: 33%;
            width: 100%;
            background-color: white;
            border-radius: 0 0 20px 20px;
            &__heart{
                input[type="checkbox"] {
                    visibility: hidden;
                }
                input:checked ~ .empty{
                    opacity: 0;
                    }
                input:checked ~ .full{
                    opacity: 1;
                }
                width: 32px;
                position: absolute;
                right: 30px;
                cursor: pointer;
            }
            &__nameandcity{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
.empty{
    font-size: xx-large;
}
.full{
    position: absolute;
    right: 0px;
    top: 18px;
    opacity: 0;
    color: $color-secondary;
    font-size: xx-large;
}
h3, h4{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
  }
h4{
    font-weight: 400;
    padding-bottom: 20px;
  }
  