.button{
    cursor: pointer;
    padding: 20px 30px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    color: #FFFFFF;
    border-radius: 50px;
    border: transparent;
    box-shadow: 5px 5px 10px #cccccc;
}
.bouton{
    transition: transform 400ms;
    &:hover{
        transform:scale(1.15);
    }
}