.button{
    cursor: pointer;
    padding: 17px 29px;
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    color: #FFFFFF;
    border-radius: 50px;
    border: transparent;
    @include box-shadow;
    transition: transform 400ms;
    &:hover{
        transform:scale(1.15);
        @include box-shadow-hover;
        filter: brightness(1.2);
    }
}
