$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-menu:#F6F6F6;
$background-color-card: #fff;
@mixin box-shadow{
    box-shadow: 5px 5px 10px #cccccc;
}
@mixin box-shadow-hover{
    box-shadow:6px 6px 10px #8c8c8c;
}