$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$background-menu:#F6F6F6;
$bacground-color-card: #fff;
$box-shadow: 5px 5px 10px #cccccc;
$box-shadow-hover:6px 6px 10px #8c8c8c;